body {
  background: url('./images/background.jpg');
}

h2 {
  margin-top: 10px;
}

.green-text {
  color: #bada55;
}

.landing {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.landing-inner {
  color: #bada55;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-button {
  color: #bada55 !important;
}

button.btn-outline-success {
  color: #bada55;
  border-color: #bada55;
}
